@page
@model Quiz.Controllers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.AnswerA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.AnswerA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.AnswerB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.AnswerB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.AnswerC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.AnswerC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.AnswerD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.AnswerD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.CorrectAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.CorrectAnswer)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
